<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-disabled="inserted" ng-click="addOperator()">{{'_GENERIC_ADD_' | translate}}</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td><b>{{'_GENERIC_ID_' | translate}}</b></td>
    <td><b>{{'_GENERIC_NAME_' | translate}}</b></td>
    <td><b>{{'_GENERIC_PASSWORD_' | translate}}</b></td>
    <td><b>{{'_GENERIC_ROLE_' | translate}}</b></td>
    <td><b>{{'_GENERIC_STRTVAL_' | translate}}</b></td>
    <td><b>{{'_GENERIC_ENDVAL_' | translate}}</b></td>
    <td><b>{{'_GENERIC_ENABLED_' | translate}}</b></td>
    <td><b>{{'_GENERIC_SESSTKN_' | translate}}</b></td>
    <td><b>{{'_GENERIC_ACTIONS_' | translate}}</b></td>
  </tr>
  <tr ng-repeat="operator in operators" class="editable-row">
    <td>
        {{ operator.id }}
    </td>
    <td>
		<span editable-text="operator.name" e-name="name" e-form="rowform" e-required>
		  {{ operator.name || 'empty' }}
        </span>
		<div class="error" ng-show="(!(rowform.$data.name) || (rowform.$data.name.length == 0))">required</div>
    </td>
	<td>
        <span editable-password="operator.password" e-name="password" e-form="rowform" ng-show="rowform.$visible" e-required>
          {{ operator.password }}
        </span><span ng-show="!rowform.$visible">*****</span>
		<div class="error" ng-show="(!(rowform.$data.name) || (rowform.$data.password.length < 5))">min length 5</div>
    </td>
    <td class="select-td">
        <span editable-select="operator.role" e-name="role" onshow="loadRoles()" e-form="rowform" e-selectpicker
              e-ng-options="r as r for r in roles">
          {{ showRole(operator) }}
        </span>
		<div class="error" ng-show="(roles.indexOf(rowform.$data.role) < 0)">unsupported</div>
    </td>
	<td>
        <span editable-date="operator.stVldty" e-name="stVldty" e-form="rowform" e-required>
          {{ operator.stVldty | date:'dd-MM-yyyyTHH:mm:ss'}}
        </span>
		<div class="error" ng-show="(rowform.$data.stVldty.length == 0)">not valid</div>
    </td>
	<td>
        <span editable-date="operator.edVldty" e-name="edVldty" e-form="rowform" e-required>
          {{ operator.edVldty | date:'dd-MM-yyyyTHH:mm:ss'}}
        </span>
		<div class="error" ng-show="(rowform.$data.edVldty.length == 0)">not valid</div>
    </td>
	<td>
        <span editable-select="operator.enabled" e-name="enabled" e-form="rowform" e-selectpicker
              e-ng-options="v as v for v in [0,1]">
          {{ operator.enabled }}
        </span>
		<div class="error" ng-show="([0,1].indexOf(rowform.$data.enabled) < 0)">unsupported</div>
    </td>
	<td>
        <span editable-password="operator.sessTok" e-name="sessTok" e-form="rowform" ng-show="rowform.$visible">
          {{ operator.sessTok }}
        </span><span ng-show="!rowform.$visible">*****</span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == operator">
        <button type="button"  class="btn btn-primary editable-table-button btn-xs" ng-click="onSaveBtn($index, rowform.$data)"
		ng-disabled="((rowform.$data.name.length == 0) || (rowform.$data.stVldty == 0) || (rowform.$data.edVldty == 0) || (rowform.$data.password.length < 5) || (rowform.$data.password.length > 30))">
          {{'_GENERIC_SAVE_' | translate}}
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="operator.password = bkpoperator[operator.id].password; cancelOperator(rowform)" class="btn btn-default editable-table-button btn-xs">
          {{'_GENERIC_CANCEL_' | translate}}
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="operator.password = ''; rowform.$show()">{{'_GENERIC_EDIT_' | translate}}</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="onDeleteBtn($index)">{{'_GENERIC_DELETE_' | translate}}</button>
      </div>
    </td>
  </tr>
</table>
