<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix" title="({{version}})"><span>JPS</span>Admin</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
  <div class="langs"><lang-list></lang-list></div>
  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
	
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Userico' | profilePicture )}}">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href ng-click="readOperator()"><i class="fa fa-user"></i> <b>{{currOperator.name}}</b> Profile</a></li>
        <li><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href class="signout" ng-click="signOut()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>	  
	</div>
    <msg-center></msg-center>	
  </div>
</div>