<div class="row" ng-show=showFiscalPrinter>
	<div ba-panel class="col-lg-6 col-md-12 col-sm-12"
	     ba-panel-class="tabs-panel"
		 ba-panel-title="{{'_MAIN_CASHIER_FISCPRNTP_TITLE_' | translate}}"
		 ba-panel-ico="assets/img/theme/icon/kameleon/Printer.ico">
		<div>
			<table class="table table-bordered table-hover table-condensed">
			  <tr>
				<td>Idx</td>
				<td>Report Type</td>
				<td>Actions</td>
			  </tr>
			  <tr>
				<td>1</td>
				<td>Daily Report</td>
				<td>
						<button  title="Print daily report WITHOUT zeroing" type="button"  class="btn" ng-click="print('daily_x')">
						Print X Report
						</button>
						<button title="Print daily report WITH zeroing" type="button"  class="btn" ng-click="print('daily_z')">
						Print Z Report
						</button>
				</td>
			  </tr>
			  
			  <tr>
				<td>2</td>
				<td>Monthly Report</td>
				<td>
					<button  title="Print report for the last month" type="button"  class="btn" ng-click="print('monthly')" >
					Print Monthly Report
					</button>
				</td>
			  </tr>
			  
			  <tr>
				<td>3</td>
				<td>Yearly Report</td>
				<td>
					<button  title="Print report for the last year" type="button"  class="btn" ng-click="print('yearly')" >
					Print Yearly Report
					</button>
				</td>
			  </tr>
			</table>
			<div  ng-show=showFiscalPrinterTotal>
				<br>
				<label style="margin-left:3%"><b>Fiscal Printer Total Amount</b></label><input type="text" name="fiscPrinterTotal" ng-model="fiscPrinterTotalAmount" ng-disabled="true" style="margin-left:3%"> 
				<br>
			</div>
			<div  ng-show=showFiscalPrinterTotal>
				<br>
				<label style="margin-left:3%"><b>Cash Snapshot Total Amount</b></label><input type="text" name="snapShotTotal" ng-model="snapShotTotalAmount" ng-disabled="true" style="margin-left:1.5%"> 
				<br>
			</div>
			<div  ng-show=showFiscalPrinterUSN>
				<br>
				<label style="margin-left:3%"><b>Last Unique Sale Number</b></label><input type="number" name="USN" ng-model="valueUSN" min="0" max="9999999" style="margin-left:4%"> 
				<button  title="Set Unique Sale Number" type="button"  class="btn" ng-click="setUSN(valueUSN)" ng-disabled="checkIntVal(valueUSN)">SET</button>
				<div class="error" ng-show="(checkIntVal(valueUSN))" >invalid value</div>
				<br>
			</div>		
		</div>
	</div>
</div>
