<ul class="al-msg-center clearfix">
  <li uib-dropdown>
    <a href uib-dropdown-toggle ng-mouseenter="getAlarms()">
      <i class="fa fa-bell-o"></i><span>{{alarms.length}}</span>
      <div class="notification-ring"></div>
    </a>

    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>

      <div class="header clearfix">
        <strong>{{ '_GENERIC_ALRMS_' | translate }}</strong>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="alarm in alarms" ng-click="details(alarm.id, alarm.description)">
		  <i class="ion-alert-circled"></i>
          <div class="msg-area" title="{{ alarm.description }}">
            <div>{{ alarm.id }}</div>
            <div>{{ alarm.description }}</div>
          </div>
        </a>
      </div>
    </div>
  </li>
</ul>